<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>

  <div id="app"></div>

  <template id="my-app">
    <table v-if="books.length > 0">
      <thead>
        <th></th>
        <th>书籍名称</th>
        <th>出版日期</th>
        <th>价格</th>
        <th>购买数量</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr v-for="(item,index) in filterPrice" :key="item.id">
          <td>{{ index + 1 }}</td>
          <td>{{item.name}}</td>
          <td>{{item.date}}</td>
          <td>{{item.price}}</td>
          <td>
            <button @click="decrement(index)" :disabled="item.count == 1">-</button>
            <span class="counter">{{item.count}}</span>
            <button @click="increment(index)">+</button>
          </td>
          <td>
            <button @click="unmonut(index)">移除</button>
          </td>
        </tr>
        
      </tbody>
    </table>
    <div v-if="books.length > 0">价格：{{priceResult}}</div>

    <h2 v-if="books.length == 0">你的购物车是空的</h2>
  </template>

  <script src="../js/vue.js"></script>
  <script src="./index.js"></script>
</body>

</html>